@model Uppgift12_Garage20.Models.ParkedVehicle

@{
    ViewData["Title"] = "Park Vehicle";
    var parkingError = @Html.ValidationMessage("ParkingError");
}

<div class="col-md-9 col-lg-6 mx-auto">
    <h1>Park a vehicle</h1>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger mt-4" role="alert">
            @parkingError
        </div>
    }
    <div class="card mt-4">
        <div class="card-header">
            Fill in the details of the vehicle you want to park
        </div>
        <div class="card-body">
            <form asp-action="Park">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!--  include a dropdown list for selecting the vehicle type -->
                <div class="form-group mb-3">
                    <label asp-for="VehicleType" class="control-label mb-1"></label>
                    <select asp-for="VehicleType" asp-items="@(new SelectList(Enum.GetValues(typeof(VehicleType))))" class="form-select"></select>
                    <span asp-validation-for="VehicleType" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="RegistrationNumber" class="control-label mb-1"></label>
                    <input asp-for="RegistrationNumber" class="form-control" />
                    <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Color" class="control-label mb-1"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Make" class="control-label mb-1"></label>
                    <input asp-for="Make" class="form-control" />
                    <span asp-validation-for="Make" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Model" class="control-label mb-1"></label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="NumberOfWheels" class="control-label mb-1"></label>
                    <input asp-for="NumberOfWheels" min="1" class="form-control" />
                    <span asp-validation-for="NumberOfWheels" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Start Parking" class="btn btn-primary w-100" />
                </div>
            </form>
        </div>
    </div>
    <div class="mt-4">
        <a asp-action="Index" class="link-light"><i class="bi-chevron-left"></i> Back to Garage</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
